<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/application.js"></script>
  <title>Our Reads</title>
</head>
<body>
  <header id="banner">
    <h1><a href="/">Our Reads</a></h1>
      <% if logged_in? %>
        <ul>
          <li><a href="/students/<%= current_user.id %>"><%= current_user.username %></a></li>
          <li> | </li>
          <li><a href="/sessions/logout">Logout</a></li>
        </ul>
      <% else %>
        <ul>
          <li><a href="/sessions/new">Login</a></li>
          <li> | </li>
          <li><a href="/students/new">Register</a></li>
        </ul>
      <% end %>
  </header>

  <div id="container">
    <%= yield %>
  </div>

  <footer id="footer"><h4>Tay & Ty &#169 April 2016</h4></footer>
</body>
</html>
